.container {
    width: auto;
}

.book {
    display: block;
    border: 2px solid black;
}

.books-container{
    display: flex;
}


.backgroundRead {
    background-color: rgb(30, 197, 71);
}



.backgroundNotRead {
    background-color: rgb(230, 21, 73);
}